h1{
	text-decoration : underline;
	color : red;
	align-items: center;
}
td {
  text-align: center;
  padding: 8px;
}
table {
  width: 80%;
  border-collapse: collapse;
}
h2 {
	text-decoration : underline;
}
.header {
	background-image : url("blured.jpg") ;
}
.TitleLink {
    text-decoration: none;
    color: red;
    &:visited {
        color: black;
    }
    &:hover {
        color: orange;
    }
    &:active {
        color: green;
    }
}
.center-table {
  margin: 0 auto; /* Center the table */
  width: 70%; /* Adjust the width as needed */
}